body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
}
h1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 36px;
    color: red;
    background-color: black;
}
h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
    margin: 20px;
    padding: 40px;
    font-family: arial, helvetica, sans-serif;
    font-size: 30px;
    color: blue;
}