body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
}
h1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 36px;
    color: red;
    background-color: black;
}
h2 {
    margin: 20px;
    padding: 40px;
    font-family: arial, helvetica, sans-serif;
    font-size: 30px;
    color: blue;
}